.app-base {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.app-header {
	height: 32px;
	display: flex;
}

.app-title {
	padding: 3px;
	flex: 1;
}

.app-user-info {
	flex: 1;
	text-align: right;
	padding: 4px;
}

.app-content {
	flex: 1;
}