.app-base {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.app-header {
	height: 42px;
	display: flex;
	border-bottom: 1px solid #dd4422;
}

.app-title {
	padding: 6px;
	flex: 1;
}

.app-user-info {
	flex: 1;
	text-align: right;
	padding: 4px;
	font-size: 12px;
}

.app-content {
	flex: 1;
}