body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

textarea, input, button {
	font-family: 'Open Sans', sans-serif;
}

p {
	margin: 4px 0;
}

a {
	cursor: pointer;
	color: #dd4422;
}

a:hover {
	color: #e0664b;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

.loading{
	cursor: default !important;
	pointer-events: none !important;
	opacity: 0.5;
}